@import "./tailwind.css";

:root {
  --white: #ffffff;
  --primary-300: #d0f700;
  --primary-200: #7a9100;
  --bg-color: #141414;
  --bg-color-80: #14141480;
  --gray-300: #696969;
  --gray-200: #909090;
  --gray-100: #c7c7c7;
  --red: #e24413;
}

@font-face {
  font-family: "helvetica-neue";
  font-weight: 100;
  src: url("/src/assets/fonts/helvetica-neue/HelveticaNeueUltraLight.otf")
    format("opentype");
}

@font-face {
  font-family: "helvetica-neue";
  font-weight: 200;
  src: url("/src/assets/fonts/helvetica-neue/HelveticaNeueThin.otf")
    format("opentype");
}

@font-face {
  font-family: "helvetica-neue";
  font-weight: 300;
  src: url("/src/assets/fonts/helvetica-neue/HelveticaNeueLight.otf")
    format("opentype");
}

@font-face {
  font-family: "helvetica-neue";
  font-weight: 400;
  src: url("/src/assets/fonts/helvetica-neue/HelveticaNeueRegular.otf")
    format("opentype");
}

@font-face {
  font-family: "helvetica-neue";
  font-weight: 500;
  src: url("/src/assets/fonts/helvetica-neue/HelveticaNeueMedium.otf")
    format("opentype");
}

@font-face {
  font-family: "helvetica-neue";
  font-weight: 600;
  src: url("/src/assets/fonts/helvetica-neue/HelveticaNeueBold.otf")
    format("opentype");
}

@font-face {
  font-family: "helvetica-neue";
  font-weight: 700;
  src: url("/src/assets/fonts/helvetica-neue/HelveticaNeueHeavy.otf")
    format("opentype");
}

@font-face {
  font-family: "yapari";
  font-weight: 100;
  src: url("/src/assets/fonts/yapari/YapariTrial-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "yapari";
  font-weight: 200;
  src: url("/src/assets/fonts/yapari/YapariTrial-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "yapari";
  font-weight: 300;
  src: url("/src/assets/fonts/yapari/YapariTrial-Light.ttf") format("truetype");
}

@font-face {
  font-family: "yapari";
  font-weight: 400;
  src: url("/src/assets/fonts/yapari/YapariTrial-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "yapari";
  font-weight: 500;
  src: url("/src/assets/fonts/yapari/YapariTrial-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "yapari";
  font-weight: 600;
  src: url("/src/assets/fonts/yapari/YapariTrial-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "yapari";
  font-weight: 700;
  src: url("/src/assets/fonts/yapari/YapariTrial-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "yapari";
  font-weight: 800;
  src: url("/src/assets/fonts/yapari/YapariTrial-ExtraBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "yapari";
  font-weight: 900;
  src: url("/src/assets/fonts/yapari/YapariTrial-Ultra.ttf") format("truetype");
}

body {
  font-weight: 300;
  font-family: "helvetica-neue";
  background-color: var(--bg-color);
  color: var(--white);
}
body::-webkit-scrollbar {
  display: none;
}

@theme {
  --font-yapari: "yapari", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* font yapari 전역 클래스 추가 */
.font-yapari {
  font-family: "yapari", sans-serif;
}

/* 줄거리 말줄임 */
.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 120px; /* 4줄 × 30px 줄 간격 */
}
